.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #101c2e;
  border: 2px solid #949593;
  height: 120px;

  &__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__user-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 20px 0 40px;

      img {
        border-radius: 50%;
        margin: 0 20px;
        width: 50px;
        height: 50px;
      }

      p {
        margin: 5px 0;
        font-size: 15px;
      }
    }
  }

  &__left {
    display: flex;
    align-items: center;
    padding-left: 20px;

    &__menu {
      padding: 5px;
      text-decoration: none;
      transition: color 0.3s;

      :hover {
        color: rgba(150, 150, 150, 0.5);
      }

      div {
        color: #fff;
      }
    }
  }

  @media screen and (max-width: 650px) {
    &__right {
      height: 100px;

      &__user-info {
        img {
          width: 40px;
          height: 40px;
        }

        P {
          font-size: 12px;
        }
      }
    }
  }

  @media screen and (max-width: 425px) {
    &__right {
      height: 80px;

      &__user-info {
        margin: 0 10px 0 20px;

        img {
          margin: 0 10px;
        }
      }
    }

    &__left {
      &__menu {
        font-size: 15px;
      }
    }
  }
}
