.PostForm {
  margin: 30px 30px 0;

  &__contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0 0;

    &__title {
      width: 50%;
      margin-bottom: 40px;
    }

    &__description {
      width: 50%;
      height: 100px;
      margin-bottom: 40px;
    }

    &__data {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 40px;
    }

    &__image {
      margin: 5px 0;
    }
  }

  &__post-button {
    margin-top: 30px;
  }

  @media screen and (max-width: 768px) {
    margin: 30px 10px 0;

    &__contents {
      &__title {
        width: 70%;
        margin-bottom: 40px;
      }

      &__description {
        width: 70%;
        height: 100px;
        margin-bottom: 40px;
      }
    }
  }

  @media screen and (max-width: 425px) {
    margin: 20px 10px 0;

    &__contents {
      &__title {
        margin-bottom: 20px;
      }

      &__description {
        margin-bottom: 20px;
      }

      &__data {
        margin-bottom: 20px;
      }
    }
  }
}
