.Ranking {
  &__contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;

    &__title {
      font-size: 25px;
      font-weight: bold;
    }

    &__description {
      font-size: 15px;
      margin: 10px 0;
    }

    &__content {
      padding: 20px 0;

      ul {
        padding: 0;
      }

      li {
        list-style: none;
      }
    }

    &__post {
      display: flex;
      flex-direction: column;

      &__bar {
        width: 100%;
        height: 1px;
        background-color: #c7c7c7;
        margin: 10px 0;
      }

      &__rank {
        display: flex;
        justify-content: space-between;
        gap: 100px;
      }
    }
  }
}
