.SignOutButton {
  border: 1px solid #949593;
  border-radius: 5px;
  cursor: pointer;
  background-color: #101c2e;
  color: white;
  padding: 5px;

  &:hover {
    background-color: #fff;
    color: #101c2e;
  }

  @media screen and (max-width: 425px) {
    &__title {
      font-size: 10px;
    }
  }
}
