.SignInButton {
  img {
    width: 200px;
  }

  @media screen and (max-width: 768px) {
    img {
      width: 150px;
    }
  }

  @media screen and (max-width: 600px) {
    img {
      width: 120px;
    }
  }
}
