.SignOutButton {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 5px 10px #626262;
  cursor: pointer;
  background-color: #cf9b48;
  color: white;
  margin-right: 40px;
}
