.Top {
  text-align: center;
  justify-content: center;
  margin: 0 30px;

  &__contents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

  &__post-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    background-color: #cf9b48;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  @media screen and (max-width: 650px) {
    &__contents {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (max-width: 425px) {
    &__contents {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
